{% extends 'baseprof.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mis cursos{% endblock %}</title>
</head>
<body>
  {% block content %}
       <!-- sweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Generamos una nueva variable de messages con sweetalert2 -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
               {% if category == 'si' %}
                        <script>
                            Swal.fire({
                                icon: 'success',
  								title: 'Se actualizo la lista correctamente!',
  								text: 'Se realizaron los cambios...',
  								timer: 3500
                            })
                        </script>
                    {%endif%}
                {% endfor %}
            {% endif %}
        {% endwith  %}
   <div class="col-sm-10">
    <div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
      <div class="col-md-6 px-0">
          <h1  class="display-15 fst-italic"> <i class="bi bi-list-task"></i> Asistencia en la fecha: {{id}}</h1>
      </div>
    </div>
    </div>
    {% set counta = namespace(value=0) %}
  <form method="POST" action="/modificarlista/{{id}}">
  <div class="row">
    <div class="col-sm-6">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
            <th>Alumno</th>
            <th>Presente/Ausente</th>
            <th>Modificar</th>
		</thead>
    {% for lista in listas %}
       {% set counta.value = counta.value + 1 %}
          <tr>
              <td>{{counta.value}}. {{lista.4}}, {{lista.3}}</td>
              {%if lista.2 == 'P'%}
              <td>Presente</td>
              {%else%}
              <td>Ausente</td>
              {%endif%}
             <td><center><input type="checkbox" value="{{lista.1}}" name="idalum" class="visible" unchecked></center></td>
          </tr>
    {%endfor%}
     </tbody>
	</table>
    </div>
   </div>
 {%if vector > 0%}
  <a href="/verasistencias/{{vector}}" class="btn btn-secondary" role="button"> <i class="bi bi-arrow-left-square">Volver al menú</i></a>
  {%else%}
  <a href="/miscursos" class="btn btn-secondary" role="button"> <i class="bi bi-arrow-left-square">Volver al menú</i></a>
  {%endif%}
   <input type="submit" name="submit" value="Modificar alumnos seleccionados" class="btn btn-success">
  </form>
    {% endblock %}
</body>
</html>