{% extends 'baseprof.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>{% block title %}Carga de Proceso{% endblock %}</title>
</head>
<body>
  {% block content %}
    <!-- sweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Generamos una nueva variable de messages con sweetalert2 -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                     {% if category == 'mat' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Seleccione la materia!',
  								text: 'No selecciono la materia, sino vuelva a hacerlo',
  								timer: 3500
                            })
                        </script>
                    {%endif%}
                    {% if category == 'cur' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Seleccione un curso!',
  								text: 'Por favor seleccione un curso, sino vuelva a hacerlo',
  								timer: 3500
                            })
                        </script>
                    {%endif%}
                    {% if category == 'car' %}
                        <script>
                            Swal.fire({
                                icon: 'success',
  								title: 'Cargado con exito!',
  								showConfirmButton: false,
  								timer: 3500
                            })
                        </script>
                    {%endif%}
                    {% if category == 'pun_m' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Revise los indicadores!',
  								text: 'El puntaje de los indicadores no coincide con el total...',
  								showConfirmButton: false,
  								timer: 4000
                            })
                        </script>
                    {%endif%}
                    {% if category == 'pun_e' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Revise los puntajes!',
  								text: 'Usted no esta asignando un puntaje a un alumno o mas..',
  								showConfirmButton: false,
  								timer: 3500
                            })
                        </script>
                    {%endif%}
                       {% if category == 'no_p' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Revise los puntajes!',
  								text: 'Usted no esta asignando algun puntaje..',
  								showConfirmButton: false,
  								timer: 3500
                            })
                        </script>
                    {%endif%}
                 {% endfor %}
            {% endif %}
        {% endwith  %}
    {% from "macro.html" import show_form %}
<div>
        <div class="col-sm-10">
    <div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
        <h1  class="display-15 fst-italic"> <i class="bi bi-clipboard-plus"></i> Carga de proceso o exámenes</h1>
    </div>
  </div>
            </div>
         <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
             <form method="POST" action="/procesoss">
                <label>Seleccione la disciplina:</label>
                <select class="form-control" name="idmat">
                     {% for materia in materias %}
                         <option value="{{materia.0}}">{{materia.1}}</option>
                     {% endfor %}
                <script>
                    var select = document.getElementById('materia').value;
                    console.log(document.getElementById('materia').value);
                    selectElement.addEventListener('change',varselect)
                    function varSelect(){
                        console.log(select.value)
                    }
                </script>

            </select>
             <br>
                <input type="submit" name="submit" value="Selecionar disciplina" class="btn btn-secondary">
             </form>
            </div>

        </div>
             {% if bcurso == 1 %}
            <div class="col-sm-5">
            <div class="form-group">
              <form method="POST" action="/alumnos">
                <label>Seleccione el curso:</label>
                <select class="form-control" name="idcurso">
              {% for curso in cursos %}
                    <option value="{{curso.0}}">Aula: {{curso.1}}. Seccion: {{curso.2}}. Enfasis: {{curso.3}}</option>
              {% endfor %}
                </select>
                  <br>
                  <input type="submit" name="submit" value="Seleccionar curso" class="btn btn-secondary">
              </form>
            </div>
        </div>
             {% endif %}
    </div>
    </div>
{% if balumno == 1%}
<form method="POST" action="/proceso">
         <br>
<div class="">
            <div class="col-sm-10">
      <div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
        <h1  class="display-15 fst-italic"> Información del trabajo </h1>
    </div>
  </div>
                  </div>
        <div class="row">
        <div class="col-sm-3">
         <div class="form-group">
           <label>Titulo del Trabajo:</label>
            {{show_form(task.nombre, class="form-control", placeholder="Ej: La célula")}}
         </div>
        </div>
    <br>
        <div class="col-sm-3">
            <div class="form-group">
            <label>Tipo de Trabajo:</label>
            <select class="form-control" name="tipo_t">
              <option value="tra_pro">Trabajos de Proceso</option>
              <option value="tra_pru">Prueba</option>
              <option value="tra_exa">Examen</option>
            </select>
               <br>
            </div>
        </div>
    <br>
        <div class="col-sm-1">
        <div class="form-group">
             <label>Puntaje (1-100):</label>
             {{show_form(task.puntaje, class="form-control")}}
        </div>
         </div>
<br>
             <div class="col-sm-2">
        <div class="form-group">
             <label>Etapa:</label>
            <select class="form-control" name="etapa_t">
              <option value="1">Primera Etapa</option>
              <option value="2">Segunda Etapa</option>
            </select>
        </div>
         </div>
<div>
       <div class="col-sm-10">
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
        <h1  class="display-15 fst-italic"> Indicadores</h1>
    </div>
  </div>
   </div>
    <div class="row">
        <div class="col-sm-2">
         <div class="form-group">
            <input type="text" name="i1"  class="form-control" value="" placeholder="Ej: Entrega en Fecha">
         </div>
        </div>
    <br>
        <div class="col-sm-1">
            <div class="form-group">
            <input type="text" name="p1"  class="form-control" value="" placeholder="Puntaje" style="width : 80px; heigth : 5px">
            </div>
        </div>
    <br>
         <!--Indicador 2-->
        <div class="col-sm-2">
        <div class="form-group">
             <input type="text" name="i2"  class="form-control" value="" placeholder="Indicador 2">
        </div>
         </div>
     <div class="col-sm-1">
            <div class="form-group">
            <input type="text" name="p2"  class="form-control" value="" placeholder="Puntaje" style="width : 80px; heigth : 5px">
            </div>
        </div>
    <br>
         <!--Indicador 3-->
            <div class="col-sm-2">
        <div class="form-group">
             <input type="text" name="i3"  class="form-control" value="" placeholder="Indicador 3">
        </div>
         </div>
     <div class="col-sm-1">
            <div class="form-group">
            <input type="text" name="p3"  class="form-control" value="" placeholder="Puntaje" style="width : 80px; heigth : 5px">
            </div>
        </div>
    <br>
</div>
 <div class="row">
       <!--Indicador 4-->
            <div class="col-sm-2">
        <div class="form-group">
                  <br>
            <input type="text" name="i4"  class="form-control" value="" placeholder="Indicador 4">
        </div>
         </div>
     <div class="col-sm-1">
            <div class="form-group">
                      <br>
            <input type="text" name="p4"  class="form-control" value="" placeholder="Puntaje" style="width : 80px; heigth : 5px">
            </div>
        </div>
    <br>
        <!--Indicador 5-->
        <div class="col-sm-2">
        <div class="form-group">
                  <br>
            <input type="text" name="i5"  class="form-control" value="" placeholder="Indicador 5">
        </div>
         </div>
     <div class="col-sm-1">
            <div class="form-group">
                      <br>
            <input type="text" name="p5"  class="form-control" value="" placeholder="Puntaje" style="width : 80px; heigth : 5px">
            </div>
        </div>
    <br>
       <!--Indicador 6-->
        <div class="col-sm-2">
        <div class="form-group">
                  <br>
            <input type="text" name="i6"  class="form-control" value="" placeholder="Indicador 6">
        </div>
         </div>
     <div class="col-sm-1">
            <div class="form-group">
                      <br>
            <input type="text" name="p6"  class="form-control" value="" placeholder="Puntaje" style="width : 80px; heigth : 5px">
            </div>
        </div>
<br>
</div>
  <div class="row">
       <!--Indicador 7-->
      <div class="col-sm-2">
        <div class="form-group">
                  <br>
            <input type="text" name="i7"  class="form-control" value="" placeholder="Indicador 7">
        </div>
      </div>
            <div class="col-sm-1">
            <div class="form-group">
                      <br>
            <input type="text" name="p7"  class="form-control" value="" placeholder="Puntaje" style="width : 80px; heigth : 5px">
            </div>
        </div>
      <!--Indicador 8-->
      <div class="col-sm-2">
        <div class="form-group">
                  <br>
            <input type="text" name="i8"  class="form-control" value="" placeholder="Indicador 8">
        </div>
      </div>
            <div class="col-sm-1">
            <div class="form-group">
                      <br>
            <input type="text" name="p8"  class="form-control" value="" placeholder="Puntaje" style="width : 80px; heigth : 5px">
            </div>
        </div>
       <!--Indicador 9-->
      <div class="col-sm-2">
        <div class="form-group">
                  <br>
            <input type="text" name="i9"  class="form-control" value="" placeholder="Indicador 9">
        </div>
      </div>
            <div class="col-sm-1">
            <div class="form-group">
                      <br>
            <input type="text" name="p9"  class="form-control" value="" placeholder="Puntaje" style="width : 80px; heigth : 5px">
            </div>
        </div>
</div>
           <div class="row">
       <!--Indicador 10-->
      <div class="col-sm-2">
        <div class="form-group">
                  <br>
            <input type="text" name="i10"  class="form-control" value="" placeholder="Indicador 10">
            <br>
                <input type="submit" name="submit" value="Siguiente" class="btn btn-success">
        </div>
      </div>
            <div class="col-sm-1">
            <div class="form-group">
                      <br>
            <input type="text" name="p10"  class="form-control" value="" placeholder="Puntaje" style="width : 80px; heigth : 5px">

            </div>
        </div>


          <div class="col-sm-1">
            <div class="form-group">
                <br>
                  </div>
        </div>
</div>
 </div>
            </div>
    </div>
</form>
{% endif %}
{% endblock %}
</body>
</html>