{% extends 'basedir.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Inscribir Docente{% endblock %}</title>
</head>
<body>
  {% block content %}
  <div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic">Materias</h1>
    </div>
  </div>
  <div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic">Sociales</h1>
    </div>
     </div>
     <form method="POST" action="/inscribirprofee">
     <div class="row">
       <div class="col-sm-3">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Primer curso</th>
		</thead>
		<tbody>
     {% for materia in soc_p %}
       <tr>
     <td>{{ materia.2 }}  <input type="checkbox" value="{{materia.0}},{{materia.1}}" name="idmat" class="" unchecked></td>
       </tr>
      {% endfor %}
    </tbody>
	</table>
    </div>
       <div class="col-sm-3">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Segundo curso</th>
		</thead>
		<tbody>
     {% for materia in soc_s %}
       <tr>
     <td>{{ materia.2 }}  <input type="checkbox" value="{{materia.0}},{{materia.1}}" name="idmat" class="" unchecked></td>
       </tr>
      {% endfor %}
    </tbody>
	</table>
    </div>

       <div class="col-sm-3">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Tercer curso</th>
		</thead>
		<tbody>
     {% for materia in soc_t %}
       <tr>
     <td>{{ materia.2 }} <input type="checkbox" value="{{materia.0}},{{materia.1}}" name="idmat" class="" unchecked></td>
       </tr>
      {% endfor %}
    </tbody>
	</table>
    </div>
   </div>

      <div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic">Contabilidad</h1>
    </div>
     </div>
    <div class="row">
       <div class="col-sm-3">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Primer ccurso </th>
		</thead>
		<tbody>
     {% for materia in con_p %}
       <tr>
     <td>{{ materia.2 }}  <input type="checkbox" value="{{materia.0}},{{materia.1}}" name="idmat" class="" unchecked></td>
       </tr>
      {% endfor %}
    </tbody>
	</table>
    </div>
       <div class="col-sm-3">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Segundo curso</th>
		</thead>
		<tbody>
     {% for materia in con_s %}
       <tr>
     <td>{{ materia.2 }}  <input type="checkbox" value="{{materia.0}},{{materia.1}}" name="idmat" class="" unchecked></td>
       </tr>
      {% endfor %}
    </tbody>
	</table>
    </div>

       <div class="col-sm-3">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Tercer curso </th>
		</thead>
		<tbody>
     {% for materia in con_t %}
       <tr>
     <td>{{ materia.2 }} <input type="checkbox" value="{{materia.0}},{{materia.1}}" name="idmat" class="" unchecked></td>
       </tr>
      {% endfor %}
    </tbody>
	</table>
    </div>
   </div>
     <center><input type="submit" name="submit" value="Inscribir" class="btn btn-success"></center>
         <br>
         </form>
     </div>
  </div>
</div>
     </form>
     {% endblock %}
</body>
</html>