{% extends 'basedir.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Asignar Materias{% endblock %}</title>
</head>
<body>
  {% block content %}
  <!-- sweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Generamos una nueva variable de messages con sweetalert2 -->
          {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'c_u' %}
                        <script>
                            Swal.fire({
                                icon: 'success',
  								title: 'Usuario actualizado!..',
  								timer: 3500,
  								showConfirmButton: false
                            })
                        </script>
                    {% endif %}
             {% endfor %}
            {% endif %}
        {% endwith  %}
<div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic">{{profesor.1}},{{profesor.2}}</h1>
    </div>
      </div>
   <div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic">Sus Disciplinas</h1>
    </div>
  </div>
<div class="row">

       <div class="col-sm-10">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Materia</th>
            <th>Curso</th>
             <th>Enfasis</th>
            <th>Acciones</th>
		</thead>
		<tbody>
     {% for materia in materias %}
       <tr>
           <td>{{materia.1}}</td>
           <td>{{materia.2}}</td>
           <td>{{materia.3}}</td>
             <td> <center><a class="btn btn-danger" role="button" href="/eliminarmatxpro/{{materia.0}}C{{materia.4}}">Eliminar Materia</a></center></td>
       </tr>
      {% endfor %}
    </tbody>
	</table>
    </div>
              <br>
    <div class="container">
      <div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic">Agregar Disciplinas</h1>
    </div>
  </div>
  <div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic">Sociales</h1>
    </div>
     </div>
    </div>
     <form method="POST" action="/asignarmaterias/{{profesor.0}}">
     <div class="row">
       <div class="col-sm-3">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Primer Curso</th>
		</thead>
		<tbody>
     {% for materia in soc_p %}
       <tr>
     <td>{{ materia.2 }}  <input type="checkbox" value="{{materia.0}},{{materia.1}}" name="idmat" class="" unchecked></td>
       </tr>
      {% endfor %}
    </tbody>
	</table>
    </div>
       <div class="col-sm-3">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Segundo Curso</th>
		</thead>
		<tbody>
     {% for materia in soc_s %}
       <tr>
     <td>{{ materia.2 }}  <input type="checkbox" value="{{materia.0}},{{materia.1}}" name="idmat" class="" unchecked></td>
       </tr>
      {% endfor %}
    </tbody>
	</table>
    </div>

       <div class="col-sm-3">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Tercer Curso</th>
		</thead>
		<tbody>
     {% for materia in soc_t %}
       <tr>
     <td>{{ materia.2 }} <input type="checkbox" value="{{materia.0}},{{materia.1}}" name="idmat" class="" unchecked></td>
       </tr>
      {% endfor %}
    </tbody>
	</table>
    </div>
   </div>

     <div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic">Contabilidad</h1>
    </div>
     </div>
    <div class="row">
       <div class="col-sm-3">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Primer Curso </th>
		</thead>
		<tbody>
     {% for materia in con_p %}
       <tr>
     <td>{{ materia.2 }}  <input type="checkbox" value="{{materia.0}},{{materia.1}}" name="idmat" class="" unchecked></td>
       </tr>
      {% endfor %}
    </tbody>
	</table>
    </div>
       <div class="col-sm-3">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Segundo Curso</th>
		</thead>
		<tbody>
     {% for materia in con_s %}
       <tr>
     <td>{{ materia.2 }}  <input type="checkbox" value="{{materia.0}},{{materia.1}}" name="idmat" class="" unchecked></td>
       </tr>
      {% endfor %}
    </tbody>
	</table>
    </div>

       <div class="col-sm-3">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Tercer Curso </th>
		</thead>
		<tbody>
     {% for materia in con_t %}
       <tr>
     <td>{{ materia.2 }} <input type="checkbox" value="{{materia.0}},{{materia.1}}" name="idmat" class="" unchecked></td>
       </tr>
      {% endfor %}
    </tbody>
	</table>
    </div>
   </div>

     <center>
         <a href="/asignarprofe" class="btn btn-secondary" role="button"> <i class="bi bi-arrow-left-square">Volver atras</i></a>
         <input type="submit" name="submit" value="Agregar" class="btn btn-success"></center>
         <br>
         </form>
     </div>
  </div>
</div>
     </form>
     {% endblock %}
</body>
</html>