<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<title>Registrar Asistencia</title>
	 <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    {% from "macro.html" import show_form %}
</head>

<body>
<!-- sweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Generamos una nueva variable de messages con sweetalert2 -->
          {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'entrada' %}
                        <script>
                            Swal.fire({
                                icon: 'success',
  								title: '{{profesor.1}} {{profesor.2}}. Se registro su entrada:',
  								html: '<h3>Entrada: {{hora}}   Salida: Pendiente...</h3>',
  								timer: 6000,
  								showConfirmButton: false
                            })
                        </script>
                    {% endif %}
                 {% if category == 'salida' %}
                        <script>
                            Swal.fire({
                                icon: 'success',
  								title: '{{profesor.1}} {{profesor.2}}, se registro su salida:',
  								html:  '<h3>Entrada: {{vector}}   Salida: {{hora}}...</h3>',
  								timer: 6000,
  								showConfirmButton: false
                            })
                        </script>
                    {% endif %}
                    {% if category == 'no' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: '{{profesor.1}} {{profesor.2}}, ya registro su salida:',
  								html: '<h3>Entrada: {{vector}}   Salida: {{vector2}}...</h3>',
  								timer: 6000,
  								showConfirmButton: false
                            })
                        </script>
                    {% endif %}
                    {% if category == 'no_dia' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: '{{profesor.1}} {{profesor.2}}, no tiene disciplinas hoy!',
  								timer: 6000,
  								showConfirmButton: false
                            })
                        </script>
                    {% endif %}
                 {% endfor %}
            {% endif %}
        {% endwith  %}
<div class="signup-form" style="">
    <form method="POST" action="/asistencia">
        <center><img src="/static/logo.png" width="100" height="100"></center>
        <br>
		<center><h2>Registrar Asistencia</h2></center>
		<center><p style="color: white;">Escanea tu tarjeta para registrar tu asistencia!</p></center>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon" style="background: #863F9B;"><i class="bi bi-upc-scan" style="color: white;"></i></span>
				 {{show_form(user.username, class="form-control",id="miTexto")}}
			</div>
            <script>
                $("#miTexto").focus();
            </script>
        </div>
        <div class="form-group">
            <center><button type="submit" class="btn btn-primary btn-lg">Confirmar</button></center>
        </div>
          <div class="" style="background: #212429">
              <p class="text-center" style="color: white;"> Recuerda revisar tus datos.</p>
	</div>
    </form>
</div>
</body>
</html>