{% extends 'basedir.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>{% block title %}Crear Semana{% endblock %}</title>
</head>
<body>
{% block content %}
    <!-- sweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Generamos una nueva variable de messages con sweetalert2 -->
          {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'dias' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Esta asignando muchas materias a un solo dia!..',
  								timer: 3500,
  								showConfirmButton: false
                            })
                        </script>
                    {% endif %}
                 {% if category == 'misma' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Una materia tiene el mismo horario de inicio y de finalización!..',
  								timer: 3500,
  								showConfirmButton: false
                            })
                        </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith  %}


<div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-15 fst-italic"><i class="bi bi-calendar-plus"></i> Horario de
        {%if band == 0%}
           Lunes </h1>
        {% endif %}
        {%if band == 1%}
           Martes </h1>
        {% endif %}
         {%if band == 2%}
           Miercoles </h1>
        {% endif %}
         {%if band == 3%}
           Jueves </h1>
        {% endif %}
         {%if band == 4%}
           Viernes </h1>
        {% endif %}
         {%if band == 5%}
           Sabado</h1>
        {% endif %}
    </div>
  </div>
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
        <h1  class="display-15 fst-italic">{{cursos.1}}, {{cursos.3}}, {{cursos.2}}</h1>
    </div>
  </div>
<form method="POST" action="/cargar2/{{cursos.0}}">
<div class="row">
    <div class="col-sm-2">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Materia</th>
       </thead>
    {% set count = namespace(value=0) %}
{% for materia in materias %}
    {% set count.value = count.value + 1 %}
         {%if count.value < 8 %}
       <tr>

     <td><select class="form-control" name="idmat">
                    <option value="">Seleccione la materia</option>
                     {% for materia in materias %}
                    <option value="{{materia.2}}">{{materia.3}}</option>
                     {% endfor %}
                    </select></td>

   </tr>
    {%endif%}
       {% endfor %}
    </tbody>
	</table>
    </div>
    {%if band != 5%}
    {% set count = namespace(value=0) %}
    <div class="col-sm-4">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
            <th>Horario de Inicio</th>
            <th>Horario de Final</th>
		</thead>
         {%if count.value == 0 %}
           {% set count.value = count.value + 1 %}
     <td><input type="text" name="hora_i"  class="form-control" value="17:00:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="17:40:00" readonly></td>
            </tr>
              {% endif %}

     {%if count.value == 1 %}
           {% set count.value = count.value + 1 %}
     <td><input type="text" name="hora_i"  class="form-control" value="17:40:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="18:20:00" readonly></td>
            </tr>
              {% endif %}

     {%if count.value == 2 %}
           {% set count.value = count.value + 1 %}
     <td><input type="text" name="hora_i"  class="form-control" value="18:20:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="19:00:00" readonly></td>
            </tr>
              {% endif %}

           {%if count.value == 3 %}
           {% set count.value = count.value + 1 %}
     <td><input type="text" name="hora_i"  class="form-control" value="19:00:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="19:40:00" readonly></td>
            </tr>
              {% endif %}

           {%if count.value == 3 %}
           {% set count.value = count.value + 1 %}
     <td><input type="text" name="hora_i"  class="form-control" value="19:40:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="20:20:00" readonly></td>
            </tr>
              {% endif %}
        {%if count.value == 4 %}
           {% set count.value = count.value + 1 %}
            <td><input type="text" name="hora_i"  class="form-control" value="20:20:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="21:00:00" readonly></td>
            </tr>
              {% endif %}

         {%if count.value == 5 %}
           {% set count.value = count.value + 1 %}
            <td><input type="text" name="hora_i"  class="form-control" value="21:00:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="21:40:00" readonly></td>
            </tr>
              {% endif %}

         {%if count.value == 6 %}
           {% set count.value = count.value + 1 %}
            <td><input type="text" name="hora_i"  class="form-control" value="21:40:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="22:20:00" readonly></td>
            </tr>
              {% endif %}
   </tbody>
	</table>
    </div>
    {% endif %}
      {%if band == 5%}
     {% set count = namespace(value=0) %}
      <div class="col-sm-4">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
            <th>Horario de Inicio</th>
            <th>Horario de Final</th>
		</thead>
         {%if count.value == 0 %}
           {% set count.value = count.value + 1 %}
     <td><input type="text" name="hora_i"  class="form-control" value="13:00:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="13:40:00" readonly></td>
            </tr>
              {% endif %}

     {%if count.value == 1 %}
           {% set count.value = count.value + 1 %}
     <td><input type="text" name="hora_i"  class="form-control" value="13:40:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="14:20:00" readonly></td>
            </tr>
              {% endif %}

     {%if count.value == 2 %}
           {% set count.value = count.value + 1 %}
     <td><input type="text" name="hora_i"  class="form-control" value="14:20:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="15:00:00" readonly></td>
            </tr>
              {% endif %}

           {%if count.value == 3 %}
           {% set count.value = count.value + 1 %}
     <td><input type="text" name="hora_i"  class="form-control" value="15:00:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="15:40:00" readonly></td>
            </tr>
              {% endif %}

           {%if count.value == 3 %}
           {% set count.value = count.value + 1 %}
     <td><input type="text" name="hora_i"  class="form-control" value="15:40:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="16:20:00" readonly></td>
            </tr>
              {% endif %}
        {%if count.value == 4 %}
           {% set count.value = count.value + 1 %}
            <td><input type="text" name="hora_i"  class="form-control" value="16:20:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="17:00:00" readonly></td>
            </tr>
              {% endif %}

         {%if count.value == 5 %}
           {% set count.value = count.value + 1 %}
            <td><input type="text" name="hora_i"  class="form-control" value="17:00:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="17:40:00" readonly></td>
            </tr>
              {% endif %}

         {%if count.value == 6 %}
           {% set count.value = count.value + 1 %}
            <td><input type="text" name="hora_i"  class="form-control" value="17:40:00" readonly></td>
           <td><input type="text" name="hora_f"  class="form-control" value="18:20:00" readonly></td>
            </tr>
              {% endif %}
    </tbody>
	</table>
    </div>
 {% endif %}
  </div>
    <a href="/crearseman" class="btn btn-secondary" role="button"> <i class="bi bi-arrow-left-square"> Volver al menú</i></a>
     {%if band != 5%}
       <input type="submit" name="submit" value="Siguiente" class="btn btn-success">
     {% else %}
       <input type="submit" name="submit" value="Finalizar" class="btn btn-success">
    {% endif %}

 </form>
<br>
{% endblock %}
</body>
</html>