{% extends 'basedir.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>{% block title %}Ver Horarios{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-15 fst-italic"><i class="bi bi-calendar2-check"></i> Eliminar Horarios</h1>
    </div>
  </div>
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
        <h1  class="display-15 fst-italic">{{cursos.1}}, {{cursos.3}}, {{cursos.2}}</h1>
    </div>
  </div>
  <h3>¿Estas seguro?</h3>
   <label>El siguiente horario será eliminado y deberá crearse uno nuevo.</label>
<br>

<div class="row">
 <div class="col-sm-5">
     <br>
  <center> <h4>Lunes</h4></center>
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Hora</th>
            <th>Asignatura</th>
		</thead>
		<tbody>
         {% for horarios in h_lu %}
     <tr>
      <td>{{horarios.2}}-{{horarios.3}}</td>
     <td>{{horarios.4}}</td>
     </tr>
     {% endfor %}
    </tbody>
	</table>
    </div>
 <div class="col-sm-5">
     <br>
  <center><h4>Martes</h4></center>
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Hora</th>
            <th>Asignatura</th>
		</thead>
		<tbody>
         {% for horarios in h_ma %}
     <tr>
      <td>{{horarios.2}}-{{horarios.3}}</td>
     <td>{{horarios.4}}</td>
     </tr>
     {% endfor %}
    </tbody>
	</table>
    </div>
</div>

<div class="row">
 <div class="col-sm-5">
  <center> <h4>Miercoles</h4></center>
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Hora</th>
            <th>Asignatura</th>
		</thead>
		<tbody>
         {% for horarios in h_mi %}
     <tr>
     <td>{{horarios.2}}-{{horarios.3}}</td>
     <td>{{horarios.4}}</td>
     </tr>
     {% endfor %}
    </tbody>
	</table>
 </div>
 <div class="col-sm-5">
  <center><h4>Jueves</h4></center>
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Hora</th>
            <th>Asignatura</th>
		</thead>
		<tbody>
         {% for horarios in h_ju %}
     <tr>
   <td>{{horarios.2}}-{{horarios.3}}</td>
     <td>{{horarios.4}}</td>
     </tr>
     {% endfor %}
    </tbody>
	</table>
    </div>
</div>

<div class="row">
 <div class="col-sm-5">
  <center> <h4>Viernes</h4></center>
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Hora</th>
            <th>Asignatura</th>
		</thead>
		<tbody>
         {% for horarios in h_vi %}
     <tr>
       <td>{{horarios.2}}-{{horarios.3}}</td>
     <td>{{horarios.4}}</td>
     </tr>
     {% endfor %}
    </tbody>
	</table>
          <form method="POST" action="/eliminarhorario/{{cursos.0}}">
    <a href="/crearseman" class="btn btn-secondary" role="button"> <i class="bi bi-arrow-left-square">Volver al menú</i></a>
       <input type="submit" name="submit" value="Eliminar Horario" class="btn btn-danger">
     </form>
    </div>
 <div class="col-sm-5">
  <center><h4>Sabado</h4></center>
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Hora</th>
            <th>Asignatura</th>
		</thead>
		<tbody>
         {% for horarios in h_sa %}
     <tr>
     <td>{{horarios.2}}-{{horarios.3}}</td>
     <td>{{horarios.4}}</td>
     </tr>
     {% endfor %}
    </tbody>
	</table>
</div>
</div>
{% endblock %}
</body>
</html>