{% extends 'basedir.html' %}
<html lang="en">
<head>
     <title>{% block title %}Inscribir Docente{% endblock %}</title>
</head>
<body>
    {% block content %}
     {% from "macro.html" import show_form %}
      <!-- sweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Generamos una nueva variable de messages con sweetalert2 -->
          {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'si' %}
                        <script>
                            Swal.fire({
                                icon: 'success',
  								title: 'Profesor incorporado!..',
  								timer: 3500,
  								showConfirmButton: false
                            })
                        </script>
                    {% endif %}
                {% if category == 'profe' %}
                        <script>
                            Swal.fire({
                                icon: 'error',
  								title: 'Una disciplina no fue asignada correctamente',
  								timer: 3500,
  								showConfirmButton: false
                            })
                        </script>
                    {% endif %}
                  {% if category == 'no' %}
                        <script>
                            Swal.fire({
                                icon: 'error',
  								title: 'Ocurrio un error, vuelva a intentarlo!..',
  								timer: 3500,
  								showConfirmButton: false
                            })
                        </script>
                    {% endif %}
                  {% if category == 'error' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Ya existe un profesor con el mismo numero de cedula!',
  								timer: 3500,
  								showConfirmButton: false
                            })
                        </script>
                    {% endif %}
                     {% if category == 'fecha' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Seleccione una fecha de nacimiento!',
  								timer: 3500,
  								showConfirmButton: false
                            })
                        </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith  %}
    <!--  Body -->
    <div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> <i class="bi bi-person-plus-fill"></i> Nuevo Docente </h1>
      <p class="lead my-3"> Completa los campos para incorporarlo al sistema.</p>
    </div>
     </div>
       <div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic">Ficha personal</h1>
    </div>
  </div>
    <form method="POST" action="/inscribirprofe"  enctype="multipart/form-data">
    <div class="">
        <br>
        <div class="row">
        <div class="col-sm-3">
         <div class="form-group">
           <label>Nombre Completo:</label>
            {{show_form(alumno.nombre, class="form-control")}}
         </div>
        </div>
    <br>
        <div class="col-sm-3">
        <div class="form-group">
             <label>Apellido Completo:</label>
             {{show_form(alumno.apellido, class="form-control")}}
        </div>
         </div>
<br>
        <div class="col-sm-3">
        <div class="form-group">
             <label>Edad:</label>
             {{show_form(alumno.edad, class="form-control")}}
        </div>
        </div>
      <div class="row">
        <div class="col-sm-3">
        <div class="form-group">
            <br>
             <label>Fecha de Nacimiento:</label>
            <div class="md-form md-outline input-with-post-icon datepicker">
                <input placeholder="Select date" type="date" name="fec_n" class="form-control" >
            </div>
        </div>
        </div>

        <div class="col-sm-3">
        <div class="form-group">
              <br>
             <label>Número de Cedula:</label>
             {{show_form(alumno.num_c, class="form-control")}}
        </div>
        </div>

       <div class="col-sm-3">
       <div class="form-group">
           <br>
           <label>Número de Telefono:</label>
             {{show_form(alumno.num_t, class="form-control")}}
        </div>
        </div>
        </div>
      <div class="row">
        <div class="col-sm-3">
        <div class="form-group">
            <br>
             <label>Correo Electronico:</label>
             {{show_form(alumno.email, class="form-control")}}
        </div>
        </div>
          <div class="col-sm-3">
          <div class="form-group">
            <br>
             <label>Localidad:</label>
             {{show_form(alumno.localidad, class="form-control",value="Encarnación")}}
        </div>
        </div>
          <div class="col-sm-3">
          <div class="form-group">
            <br>
                <label>Barrio:</label>
               {{show_form(alumno.barrio, class="form-control")}}
        </div>
        </div>
        </div>
        </div>
      </div>
                 <br>
       <div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic">Documentos</h1>
    </div>
  </div>
         <div class="row">
        <div class="col-sm-4">
        <div class="form-group">
              <label>Constancia de Ingresos:</label>
            <br>
            <input type="file" name="co_i" class="btn btn-secondary">
            <br>
        </div>
        </div>
             <div class="col-sm-4">
       <div class="form-group">
        <label>Adjuntar .PDF con fotos de la cedula (Atras y Delante):</label>
            <input type="file" name="cedu_p" class="btn btn-secondary">
              <br>
        </div>
        </div>
         </div>
         <div class="row">
           <div class="col-sm-4">
          <div class="form-group">
                        <br>
              <label>Constancia de Cargos:</label>
                        <br>
            <input type="file" name="co_c" class="btn btn-secondary">
        </div>
        </div>
         </div>
        <br>
      <input type="submit" name="submit" value="Guardar y Ver Materias" class="btn btn-secondary">
    </form>
     </div>
    {% endblock %}
</body>
</html>