{% extends 'basedir.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<body>
{% block content %}

<div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
           <h1 class="display-9 fst-italic"><i class="bi bi-person-workspace"></i> Todos los docentes</h1>
    </div>
</div>
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
        <h1  class="display-15 fst-italic">{{cursos.1}}, {{cursos.3}}, {{cursos.2}}</h1>
    </div>
  </div>

{% endblock %}
</body>

</html>