{% extends 'basedir.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cursos{% endblock %}</title>
</head>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<body>
{% block content %}

<div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
           <h1 class="display-9 fst-italic"><i class="bi bi-folder2-open"></i>Cursos</h1>
    </div>
</div>
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-15 fst-italic"> Contabilidad</h1>
    </div>
  </div>
{% set count = namespace(value=0) %}

  <div class="row">
 {% for cursos in cursos_c %}
  {% set count.value = count.value + 1 %}

          <div class="col-sm-3">
        <div class="h-70 p-1 text-bg-dark rounded-3">
          <h3>{{cursos.1}}</h3>
          <p>Seccion: {{cursos.2}}</p>
           <a href="/listadoalumnos/{{cursos.0}}" class="btn btn-outline-light" role="button">Ver alumnos</a>
          <a href="/listadodocentes/{{cursos.0}}" class="btn btn-outline-light" role="button">Ver docentes</a>
        </div>
          </div>
    {% if count.value == 3%}
     </div>
    <br>
       <div class="row">
      {% set count.value = count.value - 3 %}
           {% endif %}
    {% endfor %}
 </div>
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-15 fst-italic"> Sociales </h1>
    </div>
  </div>

{% set count = namespace(value=0) %}

  <div class="row">
 {% for cursos in cursos_s %}
  {% set count.value = count.value + 1 %}

          <div class="col-sm-3">
        <div class="h-70 p-1 text-bg-dark rounded-3">
          <h3>{{cursos.1}}</h3>
          <p>Seccion: {{cursos.2}}</p>
         <a href="/listadoalumnos/{{cursos.0}}" class="btn btn-outline-light" role="button">Ver alumnos</a>
            <a href="/listadodocentes/{{cursos.0}}" class="btn btn-outline-light" role="button">Ver docentes</a>
        </div>
          </div>
    {% if count.value == 3%}
     </div>
    <br>
       <div class="row">
      {% set count.value = count.value - 3 %}
           {% endif %}
    {% endfor %}

</div>
</div>
{% endblock %}
</body>

</html>