{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mis disciplinas{% endblock %}</title>
</head>
<body>
{% block content %}
         <!-- sweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Generamos una nueva variable de messages con sweetalert2 -->
     {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                     {% if category == 'nom' %}
                        <script>
                            Swal.fire({
                                icon: 'error',
  								title: 'En esta materia aun no tienes trabajos!',
  								timer: 3500
                            })
                        </script>
                    {%endif%}
                    {% if category == 'noa' %}
                        <script>
                            Swal.fire({
                                icon: 'error',
  								title: 'En esta materia aun no tienes asistencias!',
  								timer: 3500
                            })
                        </script>
                    {%endif%}
                {% endfor %}
            {% endif %}
        {% endwith  %}

<div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> <i class="bi bi-book"></i> Mis disciplinas </h1>
      <p class="lead my-3"> Aqui puedes encontrar tus materias</p>
    </div>
  </div>


{% set count = namespace(value=0) %}

  <div class="row">
 {% for materia in materias %}
  {% set count.value = count.value + 1 %}
          <div class="col-sm-4">
        <div class="h-70 p-1 text-bg-dark rounded-3">
          <h3>{{materia.1}}</h3>
          <p>Curso: {{materia.2}} Sección: {{materia.3}}</p>
          <p>Enfasis: {{materia.5}}          Año: {{materia.4}}</p>
         <a href="/vermateria/{{materia.0}}" class="btn btn-outline-light" role="button">Ver trabajos</a>
         <a href="/verasistenciaal/{{materia.0}}" class="btn btn-outline-light" role="button">Ver asistencia</a>
        </div>
          </div>
    {% if count.value == 2%}
     </div>
    <br>
       <div class="row">
      {% set count.value = count.value - 2 %}
           {% endif %}
    {% endfor %}

</div>
</div>
{% endblock %}
</body>
</html>