{% extends 'baseprof.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<body>
{% block content %}
<div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-7 px-0">
           <h1 class="display-9 fst-italic"><i class="bi bi-person-video3"></i> Alumnos Matriculados en {{data.6}}</h1>
        <p>Curso:  {{data.7}}, {{data.8}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
  <div class="form-group">
             <form method="POST" action="/veralum/{{id}}">
                <label>Filtrar por etapa:</label>
                <select class="form-control" name="idfiltro">
                    <option value="1">Primera Etapa</option>
                    <option value="2">Segunda Etapa</option>
                    <option value="3">Ambas Etapas</option>
                    </select>
             <br>
                <input type="submit" name="submit" value="Ver alumnos" class="btn btn-secondary">
             </form>
            </div>
        </div>
  </div>
<br>
{%if filtro == 0%}
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-7 px-0">
           <h1 class="display-9 fst-italic">Ambas Etapas</h1>
    </div>
</div>
{% set counta = namespace(value=0) %}
  <div class="row">
    <div class="col-sm-10">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Alumno</th>
            <th>Puntaje primera etapa PT: {{total_p}}</th>
            <th>Calificación</th>
            <th>Puntaje segunda etapa PT: {{total_s}}</th>
            <th>Calificación</th>
		</thead>
        {% for materia in materias %}
          {% set counta.value = counta.value + 1 %}
       <tr>
     <td>{{counta.value}}. {{materia.10}}, {{materia.9}}</td>
           <td>{{materia.5}}</td>
      {% if materia.3 == None %}
           <td>Sin Calificación</td>
      {% else %}
           <td>{{materia.3}}</td>
       {%endif%}
            <td>{{materia.11}}</td>
       {% if materia.12 == None %}
           <td>Sin Calificación</td>
       {% else %}
           <td>{{materia.12}}</td>
        {%endif%}
       </tr>
        {% endfor %}
    </tbody>
	</table>
    </div>
  </div>
<div class="row">
    <div class="col-sm-5">
        <div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-7 px-0">
           <h1 class="display-9 fst-italic">Estado critico</h1>
    </div>
</div>
     {% set counta = namespace(value=0) %}
  <div class="row">
    <div class="col-sm-2">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Alumno</th>
            <th>Puntaje primera etapa PT: {{total_p}}</th>
		</thead>
        {% for materia in critico_p %}
          {% set counta.value = counta.value + 1 %}
       <tr>
     <td>{{counta.value}}. {{materia.10}}, {{materia.9}}</td>
           <td>{{materia.5}}/{{total_p}}</td>
            <td>{{materia.11}}/{{total_s}}</td>
       </tr>
        {% endfor %}
    </tbody>
	</table>
    </div>
  </div>
    </div>


<div class="col-sm-5">
        <div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-7 px-0">
           <h1 class="display-9 fst-italic">Buen rendimiento</h1>
    </div>
</div>
     Aca van los de buen rendimiento
    </div>
 </div>
{% endif %}

{%if filtro == 1%}
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-7 px-0">
           <h1 class="display-9 fst-italic">Primera Etapa</h1>
    </div>
</div>
{% set counta = namespace(value=0) %}
  <div class="row">
    <div class="col-sm-10">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Alumno</th>
            <th>Puntaje</th>
            <th>Calificación</th>
		</thead>
        {% for materia in materias %}
          {% set counta.value = counta.value + 1 %}
       <tr>
     <td>{{counta.value}}. {{materia.10}}, {{materia.9}}</td>
           <td>{{materia.5}}</td>
      {% if materia.3 == None %}
           <td>Sin Calificación</td>
      {% else %}
           <td>{{materia.3}}</td>
       {%endif%}
       </tr>
        {% endfor %}
    </tbody>
	</table>
    </div>
  </div>
{% endif %}

{% if filtro == 2%}
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-7 px-0">
           <h1 class="display-9 fst-italic">Segunda Etapa</h1>
    </div>
</div>
{% set counta = namespace(value=0) %}
  <div class="row">
    <div class="col-sm-10">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Alumno</th>
            <th>Puntaje</th>
            <th>Calificación</th>
		</thead>
        {% for materia in materias %}
          {% set counta.value = counta.value + 1 %}
       <tr>
     <td>{{counta.value}}. {{materia.10}}, {{materia.9}}</td>
           <td>{{materia.11}}</td>
      {% if materia.3 == None %}
           <td>Sin Calificación</td>
      {% else %}
           <td>{{materia.12}}</td>
       {%endif%}
       </tr>
        {% endfor %}
    </tbody>
	</table>
    </div>
  </div>
{% endif %}

<a href="/miscursos" class="btn btn-secondary" role="button"> <i class="bi bi-arrow-left-square"> Atrás</i></a>
{% endblock %}
</body>

</html>