{% extends 'baseprof.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mis cursos{% endblock %}</title>
</head>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<body>
{% block content %}
 <!-- sweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Generamos una nueva variable de messages con sweetalert2 -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
               {% if category == 'noclases' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'No puede llamar la asistencia!',
  								text: 'Usted hoy no tiene clases con el curso...',
  								timer: 3500
                            })
                        </script>
                    {%endif%}
                {% if category == 'si' %}
                        <script>
                            Swal.fire({
                                icon: 'success',
  								title: 'Asistencia guardada!',
  								timer: 3500
                            })
                        </script>
                    {%endif%}
                {% if category == 'ya' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Usted ya llamo la asistencia!',
  								timer: 3500
                            })
                        </script>
                    {%endif%}
                {% endfor %}
            {% endif %}
        {% endwith  %}
 <div class="col-sm-10">
<div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
           <h1 class="display-9 fst-italic"><i class="bi bi-folder2-open"></i> Mis cursos</h1>
    </div>
</div>
 </div>
{% set count = namespace(value=0) %}

  <div class="row">
 {% for materia in materias %}
  {% set count.value = count.value + 1 %}

          <div class="col-sm-4">
        <div class="h-70 p-1 text-bg-dark rounded-3">
          <h3>{{materia.4}}</h3>
          <p>Curso: {{materia.5}} Enfasis: {{materia.6}} </p>
          <p>Año: {{materia.7}}</p>
         <a href="/veralum/{{materia.1}}" class="btn btn-outline-light" role="button">Ver Alumnos</a>
         <a href="/modificarproceso/{{materia.1}}" class="btn btn-outline-light" role="button">Trabajos</a>
         <a href="/llamarlista/{{materia.1}}" class="btn btn-outline-light" role="button">Llamar asistencia</a>
         <a href="/verasistencias/{{materia.1}}" class="btn btn-outline-light" role="button">Registro de asistencias</a>
        </div>
          </div>
    {% if count.value == 2%}
     </div>
    <br>
       <div class="row">
      {% set count.value = count.value - 2 %}
           {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}
</body>

</html>