{% extends 'basedir.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Modificar datos{% endblock %}</title>
</head>
<body>
{% block content %}
 <!-- sweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Generamos una nueva variable de messages con sweetalert2 -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                     {% if category == 'ok' %}
                        <script>
                            Swal.fire({
                                icon: 'success',
  								title: 'Datos actualizados!',
  								timer: 3500
                            })
                        </script>
                    {%endif%}
                       {% if category == 'nod' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'No tiene documentos asociados!',
  								timer: 3500
                            })
                        </script>
                    {%endif%}
                {% endfor %}
            {% endif %}
        {% endwith  %}
{% from "macro.html" import show_form %}
    <div class="col-sm-10">
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
           <h1 class="display-9 fst-italic"> {{data.1}} {{data.2}} </h1>
    </div>
</div>
</div>
   {%if tipo == 1%}
     <div class="col-md-3">
  <div class="form-group">
             <form method="POST" action="/verdocumento/{{id2}}">
                <label>Ver documentos:</label>
                <select class="form-control" name="idfiltro">
                    <option value="1">Cédula de identidad</option>
                    <option value="2">Antecedente academico</option>
                    <option value="3">Autorización de padres</option>
                    <option value="4">Ficha medica</option>
                    </select>
             <br>
                <input type="submit" name="submit" value="Descargar" class="btn btn-secondary">
             </form>
            </div>
        </div>
<br>
{% else%}
 <div class="col-md-3">
  <div class="form-group">
             <form method="POST" action="/verdocumento/{{id2}}">
                <label>Ver documentos:</label>
                <select class="form-control" name="idfiltro">
                    <option value="5">Cédula de identidad</option>
                    <option value="6">Constancia de ingreso</option>
                    <option value="7">Constancia de cargos</option>
                    </select>
             <br>
                <input type="submit" name="submit" value="Descargar" class="btn btn-secondary">
             </form>
            </div>
        </div>
<br>
{% endif %}
    <div class="col-sm-10">
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> <i class="bi bi-person-lines-fill"></i> Datos Personales</h1>
    </div>
  </div>
   </div>
   {%if tipo == 1%}
  <div class="row">
    <div class="col-sm-10">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Cedula de Identidad</th>
            <th>Localidad</th>
            <th>Barrio</th>

		</thead>
       <tr>
     <td>{{data.1}}</td>
     <td>{{data.2}}</td>
    <td>{{data.8}} años</td>
     <td>{{data.5}}</td>
     <td>{{data.10}}</td>
     <td>{{data.14}}</td>
       </tr>
    </tbody>
	</table>
    </div>
    <br>
</div>
{% else %}
<div class="row">
    <div class="col-sm-10">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Cedula de Identidad</th>
            <th>Localidad</th>
            <th>Barrio</th>

		</thead>
       <tr>
     <td>{{data.1}}</td>
     <td>{{data.2}}</td>
    <td>{{data.7}} años</td>
     <td>{{data.4}}</td>
     <td>{{data.9}}</td>
     <td>{{data.11}}</td>
       </tr>
    </tbody>
	</table>
    </div>
    <br>
</div>
{% endif %}
    <div class="col-sm-10">
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> <i class="bi bi-telephone-forward-fill"></i> Datos de Contacto</h1>
    </div>
</div>
        </div>
  {%if tipo == 1%}
  <div class="row">
    <div class="col-sm-10">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Numero de Telefono</th>
            <th>Email</th>
            <th>Nombre del Tutor</th>
            <th>Numero de Telefono del Tutor</th>
		</thead>
       <tr>
     <td>0{{data.3}}</td>
     <td>{{data.9}}</td>
     <td>{{data.11}}</td>
     <td>{{data.12}}</td>
       </tr>
    </tbody>
	</table>
    </div>
    <br>
</div>
{% else %}
  <div class="row">
    <div class="col-sm-10">
<table class="table table-hover table-striped table-bordered">

		<thead style="background-color: grey; color: white;">
			<th>Numero de Telefono</th>
            <th>Email</th>
		</thead>
       <tr>
     <td>0{{data.3}}</td>
     <td>{{data.8}}</td>
       </tr>
    </tbody>
	</table>
    </div>
    <br>
</div>
{% endif %}


{%if tipo == 1%}
    {% if band != 0%}
    <a href="/listadoalumnos/{{band}}" class="btn btn-secondary" role="button"> <i class="bi bi-arrow-left-square"> Volver al menú</i></a>
    {%else%}
    <a href="/listadocursos" class="btn btn-secondary" role="button"> <i class="bi bi-arrow-left-square"> Volver al menú</i></a>
    {% endif %}
{% else %}
     {% if id %}
    <a href="/listadodocentes/{{id}}" class="btn btn-secondary" role="button"> <i class="bi bi-arrow-left-square"> Volver al menú</i></a>
    {%else%}
    <a href="/listadocursos" class="btn btn-secondary" role="button"> <i class="bi bi-arrow-left-square"> Volver al menú</i></a>
    {% endif %}
  {% endif %}
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#cambiar_d">Modificar Datos</button>
    </div>
<form method="POST" action="/moddatos/{{data.0}}">
<!-- Modal Datos -->
<div class="modal fade" id="cambiar_d" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cambiar_dlLabel">Modificar Datos Personales</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<table class="table table-hover table-striped table-bordered">
    {%if tipo == 1%}
            <tr>
                <td>Edad</td>
                <td><input type="text" name="edad" class="form-control" value="{{data.8}}"></td>
            </tr>
            <tr>
                <td>Localidad</td>
                <td><input type="text" name="loc" class="form-control" value="{{data.10}}"></td>
            </tr>
            <tr>
                <td>Barrio</td>
                <td><input type="text" name="bar" class="form-control" value="{{data.14}}"></td>
            </tr>
            <tr>
                <td>Numero de Telefono</td>
                <td><input type="text" name="num" class="form-control" value="{{data.3}}"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="ema" class="form-control" value="{{data.9}}"></td>
            </tr>
             <tr>
                <td>Nombre del Tutor</td>
                <td><input type="text" name="nmt" class="form-control" value="{{data.11}}"></td>
            </tr>
             <tr>
                <td>Numero del Tutor</td>
                <td><input type="text" name="nut" class="form-control" value="{{data.12}}"></td>
            </tr>
    {% else %}
         <tr>
                <td>Edad</td>
                <td><input type="text" name="edad" class="form-control" value="{{data.7}}"></td>
            </tr>
            <tr>
                <td>Localidad</td>
                <td><input type="text" name="loc" class="form-control" value="{{data.9}}"></td>
            </tr>
            <tr>
                <td>Barrio</td>
                <td><input type="text" name="bar" class="form-control" value="{{data.11}}"></td>
            </tr>
            <tr>
                <td>Numero de Telefono</td>
                <td><input type="text" name="num" class="form-control" value="{{data.3}}"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="ema" class="form-control" value="{{data.8}}"></td>
            </tr>
       {% endif %}
    </tbody>
	</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <input type="submit" name="submit" value="Guardar Cambios" class="btn btn-secondary">
      </div>
    </div>
  </div>
</div>
    </form>
<!-- Modal Datos -->
{% endblock %}
</body>
</html>