{% extends 'baseprof.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mis cursos{% endblock %}</title>
</head>
<body>
  {% block content %}
   <div class="col-sm-10">
    <div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
      <div class="col-md-6 px-0">
          <h1  class="display-15 fst-italic"> <i class="bi bi-list-task"></i> Asistencia en la fecha: {{id}}</h1>
      </div>
    </div>
    </div>
    {% set counta = namespace(value=0) %}
  <form method="POST" action="/modificarlista/{{id}}">
  <div class="row">
    <div class="col-sm-6">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
            <th>Alumno</th>
            <th>Presente/Ausente</th>
            <th>Modificar</th>
		</thead>
    {% for lista in listas %}
       {% set counta.value = counta.value + 1 %}
          <tr>
              <td>{{counta.value}}. {{lista.4}}, {{lista.3}}</td>
              {%if lista.2 == 'P'%}
              <td>Presente</td>
              {%else%}
              <td>Ausente</td>
              {%endif%}
             <td><center><input type="checkbox" value="{{lista.1}}" name="idalum" class="visible" unchecked></center></td>
          </tr>
    {%endfor%}
     </tbody>
	</table>
    </div>
   </div>
  <a href="/miscursos" class="btn btn-secondary" role="button"> <i class="bi bi-arrow-left-square"> Atrás</i></a>
   <input type="submit" name="submit" value="Modificar alumnos seleccionados" class="btn btn-success">
     <a href="/eliminarlista/{{id}}" class="btn btn-danger" role="button"> Eliminar toda la lista</i></a>
  </form>
    {% endblock %}
</body>
</html>