{% extends 'baseprof.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
      <title>{% block title %}Modificar trabajo{% endblock %}</title>
</head>
<body>
{% block content %}
 <!-- sweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Generamos una nueva variable de messages con sweetalert2 -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                     {% if category == 'no_p' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Un alumno no tiene puntaje!',
  								text: 'No se realizo ningun cambio...'
                            })
                        </script>
                    {%endif%}
                    {% if category == 'pun_m' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Un alumno tiene un puntaje mayor al puntaje total!',
  								text: 'No se realizo ningun cambio...'
                            })
                        </script>
                    {%endif%}
                     {% if category == 'no_c' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Los alumnos tienen el mismo puntaje!',
  								text: 'No se realizo ningun cambio...'
                            })
                        </script>
                    {%endif%}
                     {% if category == 'si_c' %}
                        <script>
                            Swal.fire({
                                icon: 'success',
  								title: 'Alumnos Actualizados!',
  								text: 'Se realizaron los cambios...'
                            })
                        </script>
                    {%endif%}
                    {% if category == 'error' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Un alumno tiene seleccionado un indicador!',
  								text: 'No se realizo ningun cambio...'
                            })
                        </script>
                    {%endif%}
                    {% if category == 'ocurrio' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Ocurrio un error, intentelo de nuevo!..',
                            })
                        </script>
                    {%endif%}
                {% endfor %}
            {% endif %}
        {% endwith  %}
<div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> <i class="bi bi-clipboard2-data"></i> Modificar trabajo</h1>
    </div>
  </div>
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"></i>Trabajo: {{trabajos.0}}. Puntaje Total: {{trabajos.1}}</h1>
    </div>
</div>
{% set counta = namespace(value=0) %}
 <form method="POST" action="/modificarproceso2/{{trabajos.4}}">
  <div class="row">
    <div class="col-sm-10">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Alumno</th>
            <th>Puntaje Logrado </th>
            <th>Modificar Puntaje </th>
		</thead>
        {% for data in datas %}
       {% set counta.value = counta.value + 1 %}
       <tr>
     <td>{{counta.value}}. {{data.1}}, {{data.0}}</td>
    <td>{{data.4}}</td>
      <td> <center><input type="checkbox" value="{{data.3}}" name="idalum" class="visible" unchecked></center></td>
       </tr>
        {% endfor %}
    </tbody>
	</table>
    </div>
  </div>
     <a href="/modificarproceso/{{trabajos.3}}" class="btn btn-secondary" role="button"> <i class="bi bi-arrow-left-square"> Atrás</i></a>
   <input type="submit" name="submit" value="Modificar puntajes seleccionados" class="btn btn-success">
     <a href="/eliminartrabajo/{{trabajos.4}}" class="btn btn-danger" role="button"> Eliminar trabajo </i></a>
 </form>


{% endblock %}
</body>
</html>