{% extends 'baseprof.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modificar Trabajos de Proceso</title>
</head>
<body>
{% block content %}
 <!-- sweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Generamos una nueva variable de messages con sweetalert2 -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                     {% if category == 'no_p' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Un alumno no tiene puntaje!',
  								text: 'No se realizo ningun cambio...'
                            })
                        </script>
                    {%endif%}
                    {% if category == 'pun_m' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Un alumno tiene un puntaje mayor al puntaje total!',
  								text: 'No se realizo ningun cambio...'
                            })
                        </script>
                    {%endif%}
                     {% if category == 'no_c' %}
                        <script>
                            Swal.fire({
                                icon: 'warning',
  								title: 'Los alumnos tienen el mismo puntaje!',
  								text: 'No se realizo ningun cambio...'
                            })
                        </script>
                    {%endif%}
                     {% if category == 'si_c' %}
                        <script>
                            Swal.fire({
                                icon: 'success',
  								title: 'Alumnos Actualizados!',
  								text: 'Se realizaron los cambios...'
                            })
                        </script>
                    {%endif%}
                {% endfor %}
            {% endif %}
        {% endwith  %}
<div class="p-3 p-md-3 mb-3 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> <i class="bi bi-clipboard2-data"></i> Modificar Trabajos de Proceso</h1>
    </div>
  </div>
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> </i> {{trabajos.0}} Puntaje Total: {{trabajos.1}}</h1>
    </div>
</div>
 <form method="POST" action="/modificarproceso/{{id}}">
  <div class="row">
    <div class="col-sm-10">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Apellido</th>
            <th>Nombre</th>
            <th>Puntaje Logrado </th>
		</thead>
        {% for data in datas %}
       <tr>
     <td>{{data.1}}</td>
     <td>{{data.0}}</td>
    <td><input type="text" name="punt_a" class="form-control" value="{{data.4}}"></td>
       </tr>
        {% endfor %}

    </tbody>
	</table>
    </div>
  </div>

    <br>
     <a href="/modificarproceso" class="btn btn-secondary" role="button"> <i class="bi bi-arrow-left-square"> Atrás</i></a>
   <input type="submit" name="submit" value="Actualizar Puntajes" class="btn btn-success">


 </form>
{% endblock %}
</body>
</html>