{% extends 'baseprof.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Trabajos{% endblock %}</title>
</head>
<body>
{% block content %}
<!-- sweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <!-- Generamos una nueva variable de messages con sweetalert2 -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                        {% if category == 'si_c' %}
                        <script>
                            Swal.fire({
                                icon: 'success',
  								title: 'Puntajes actualizados!',
  								text: 'Se realizaron los cambios...'
                            })
                        </script>
                    {%endif%}
                     {% if category == 'eliminado' %}
                        <script>
                            Swal.fire({
                                icon: 'success',
  								title: 'Trabajo eliminado!',
  								text: 'Se realizaron los cambios...'
                            })
                        </script>
                    {%endif%}
                {% endfor %}
            {% endif %}
        {% endwith  %}
<div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> <i class="bi bi-clipboard2-data"></i> Trabajos</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
  <div class="form-group">
             <form method="POST" action="/modificarproceso/{{id}}">
                <label>Filtrar por etapa:</label>
                <select class="form-control" name="idfiltro">
                    <option value="1">Primera Etapa</option>
                    <option value="2">Segunda Etapa</option>
                    <option value="3">Ultimos trabajos cargados</option>
                    </select>
             <br>
                <input type="submit" name="submit" value="Ver trabajos" class="btn btn-secondary">
             </form>
            </div>
        </div>


     <div class="col-md-3">
  <div class="form-group">
             <form method="POST" action="/exportarexcelproceso/{{id}}">
                <label>Exportar trabajos:</label>
                <select class="form-control" name="idfiltro">
                    <option value="1">Primera Etapa</option>
                    <option value="2">Segunda Etapa</option>
                    <option value="3">Calificaciones Primera Etapa</option>
                    <option value="4">Calificaciones Segunda Etapa</option>
                    </select>
             <br>
                <input type="submit" name="submit" value="Generar excel" class="btn btn-secondary">
             </form>
            </div>
        </div>
    </div>
<br>
{%if filtro == 0%}
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> </i> Ultimos trabajos cargados</h1>
    </div>
</div>
{%endif%}
{%if filtro == 1%}
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> </i> Primera Etapa</h1>
    </div>
</div>
{%endif%}
{%if filtro == 2%}
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> </i> Segunda Etapa</h1>
    </div>
</div>
{%endif%}

{% set count = namespace(value=0) %}
     {% for trabajo in trabajos %}
    {% set count.value = count.value + 1 %}
          {% endfor %}
  <div class="row">
    <div class="col-sm-10">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Curso</th>
            <th>Materia</th>
            <th>Titulo del Trabajo</th>
            <th>Tipo de Trabajo</th>
            <th>Etapa</th>
            <th>Puntaje</th>
            <th>Fecha</th>
            <th>Modificar</th>
		</thead>
        {% for trabajo in trabajos %}
       <tr>
     <td>{{trabajo.7}}, {{trabajo.8}}</td>
     <td>{{trabajo.5}}</td>
    <td>{{trabajo.2}} </td>
    {% if trabajo.6 == 'tra_pro' %}
      <td>Trabajo de Proceso</td>
   {%endif%}
    {% if trabajo.6  == 'tra_pru' %}
      <td>Prueba</td>
    {%endif%}
    {% if trabajo.6  == 'tra_exa' %}
      <td>Prueba</td>
    {%endif%}
     {% if trabajo.9 == 1 %}
    <td>Primera Etapa</td>
     {%else%}
    <td>Segunda Etapa</td>
     {%endif%}
     <td>{{trabajo.3}}</td>
     <td>{{trabajo.1}}</td>
           <td> <center><a class="btn btn-secondary" role="button" href="/modificarproceso2/{{trabajo.0}}"><i class="bi bi-clipboard2-check"></i></a></center></td>
       </tr>
        {% endfor %}
    </tbody>
	</table>
    </div>
  </div>
    <br>
{% endblock %}
</body>
</html>