<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Recuperar</title>
	 <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% from "macro.html" import show_form %}
</head>
<body>
<div class="signup-form">
    <form method="POST">
		<h2>Recuperar Cuenta</h2>
		<p>Para verificar tu identidad es necesario los siguientes datos:</p>
        <td>Cedula de Identidad:</td>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				{{show_form(user.ci, class="form-control")}}
        </div>
		</div>
		<td>Correo Electronico:</td>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				{{show_form(user.email, class="form-control")}}
        </div>
		</div>
		<div class="form-group">
            <center><button type="submit" class="btn btn-primary btn-lg">Recuperar</button></center>
        </div>
    </form>
</div>
</body>
</html></div>