{% extends 'baseprof.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mis datos{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> </i>Mis documentos</h1>
    </div>
  </div>
<div class="col-md-3">
  <div class="form-group">
             <form method="POST" action="/verdocumento/{{datos.0}}">
                <label>Ver documentos:</label>
                <select class="form-control" name="idfiltro">
                    <option value="5">Cédula de identidad</option>
                    <option value="6">Constancia de ingreso</option>
                    <option value="7">Constancia de cargos</option>
                    </select>
             <br>
                <input type="submit" name="submit" value="Descargar" class="btn btn-secondary">
             </form>
            </div>
        </div>
<br>

<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> <i class="bi bi-person-lines-fill"></i> Datos personales</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Cedula de identidad</th>
            <th>Localidad</th>
            <th>Barrio</th>

		</thead>
       <tr>
     <td>{{datos.1}}</td>
     <td>{{datos.2}}</td>
    <td>{{datos.7}} años</td>
     <td>{{datos.4}}</td>
     <td>{{datos.9}}</td>
     <td>{{datos.11}}</td>
       </tr>
    </tbody>
	</table>
    </div>
    <br>
</div>
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> <i class="bi bi-telephone-forward-fill"></i> Datos de contacto</h1>
    </div>
</div>

  <div class="row">
    <div class="col-sm-10">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Número de teléfono</th>
            <th>Email</th>
		</thead>
       <tr>
     <td>0{{datos.3}}</td>
     <td>{{datos.8}}</td>
       </tr>
    </tbody>
	</table>
    </div>
    <br>
</div>
</div>

{% endblock %}
</body>
</html>