{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{data.2}}{% endblock %}</title>
</head>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<body>
{% block content %}
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
           <h1 class="display-9 fst-italic">Trabajos en {{data.2}} </h1>
            <p>Profesor: {{data.0}}, {{data.1}}</p>
    </div>
</div>
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
           <h1 class="display-9 fst-italic"><i class="bi bi-bar-chart"></i> Primera Etapa </h1>
    </div>
</div>
{% set count = namespace(value=0) %}
 <div class="row">
  <div class="col-sm-6">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Titulo del trabajo</th>
            <th>Fecha</th>
            <th>Puntaje</th>
            <th>Ver trabajo</th>
		</thead>
		<tbody>
         {% for proceso in procesos %}
         {% set count.value = count.value + 1 %}
     <tr>
      <td>{{proceso.1}}</td>
     <td>{{proceso.2}}</td>
     <td>{{proceso.4}}/{{proceso.3}}</td>
      <td><center><a class="btn btn-secondary" role="button" href="/vermitrabajo/{{proceso.0}}"><i class="bi bi-eye-fill"></i></a></center></td>
     </tr>
     {% endfor %}
    </tbody>
	</table>
    </div>
  {%if count.value <= 2%}
         <div class="col-md-3">
        <div class="h-80 p-1 text-bg-dark rounded-3">
        <center><p>Puntaje: {{suml}}/{{sumt}}</p></center>
            <canvas id="myChart" width="500" height="110"></canvas>
        </div>
      </div>
 {%endif%}
 {%if count.value == 3%}
         <div class="col-md-3">
        <div class="h-80 p-1 text-bg-dark rounded-3">
        <center><p>Puntaje: {{suml}}/{{sumt}}</p></center>
            <canvas id="myChart" width="500" height="160"></canvas>
        </div>
      </div>
 {%endif%}
   {%if count.value == 4%}
         <div class="col-md-3">
        <div class="h-80 p-1 text-bg-dark rounded-3">
        <center><p>Puntaje: {{suml}}/{{sumt}}</p></center>
            <canvas id="myChart" width="500" height="210"></canvas>
        </div>
      </div>
 {%endif%}
  {%if count.value == 5%}
         <div class="col-md-3">
        <div class="h-80 p-1 text-bg-dark rounded-3">
        <center><p>Puntaje: {{suml}}/{{sumt}}</p></center>
            <canvas id="myChart" width="500" height="260"></canvas>
        </div>
      </div>
 {%endif%}
    {%if count.value == 6%}
         <div class="col-md-3">
        <div class="h-80 p-1 text-bg-dark rounded-3">
        <center><p>Puntaje: {{suml}}/{{sumt}}</p></center>
            <canvas id="myChart" width="500" height="310"></canvas>
        </div>
      </div>
 {%endif%}
   {%if count.value == 7%}
         <div class="col-md-3">
        <div class="h-80 p-1 text-bg-dark rounded-3">
        <center><p>Puntaje: {{suml}}/{{sumt}}</p></center>
            <canvas id="myChart" width="500" height="360"></canvas>
        </div>
      </div>
 {%endif%}
      {%if count.value == 8%}
         <div class="col-md-3">
        <div class="h-80 p-1 text-bg-dark rounded-3">
        <center><p>Puntaje: {{suml}}/{{sumt}}</p></center>
            <canvas id="myChart" width="500" height="410"></canvas>
        </div>
      </div>
 {%endif%}
</div>
<br>
<div class="p-1 p-md-1 mb-1 rounded text-bg-dark">
    <div class="col-md-6 px-0">
           <h1 class="display-9 fst-italic"><i class="bi bi-bar-chart"></i> Segunda Etapa </h1>
    </div>
</div>

{% set counta = namespace(value=0) %}
 <div class="row">
  <div class="col-sm-6">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Titulo del trabajo</th>
            <th>Fecha</th>
            <th>Puntaje</th>
            <th>Ver trabajo</th>
		</thead>
		<tbody>
         {% for proceso in data2 %}
         {% set counta.value = counta.value + 1 %}
     <tr>
      <td>{{proceso.1}}</td>
     <td>{{proceso.2}}</td>
     <td>{{proceso.4}}/{{proceso.3}}</td>
    <td><center><a class="btn btn-secondary" role="button" href="/vermitrabajo/{{proceso.0}}"><i class="bi bi-eye-fill"></i></a></center></td>
     </tr>
     {% endfor %}
    </tbody>
	</table>
    </div>
     {%if counta.value <= 2%}
         <div class="col-md-3">
        <div class="h-80 p-1 text-bg-dark rounded-3">
        <center><p>Puntaje: {{suml}}/{{sumt}}</p></center>
            <canvas id="myChart2" width="500" height="110"></canvas>
        </div>
      </div>
 {%endif%}
 {%if counta.value == 3%}
         <div class="col-md-3">
        <div class="h-80 p-1 text-bg-dark rounded-3">
        <center><p>Puntaje: {{suml}}/{{sumt}}</p></center>
            <canvas id="myChart2" width="500" height="160"></canvas>
        </div>
      </div>
 {%endif%}
   {%if counta.value == 4%}
         <div class="col-md-3">
        <div class="h-80 p-1 text-bg-dark rounded-3">
        <center><p>Puntaje: {{suml}}/{{sumt}}</p></center>
            <canvas id="myChart2" width="500" height="210"></canvas>
        </div>
      </div>
 {%endif%}
  {%if counta.value == 5%}
         <div class="col-md-3">
        <div class="h-80 p-1 text-bg-dark rounded-3">
        <center><p>Puntaje: {{suml}}/{{sumt}}</p></center>
            <canvas id="myChart2" width="500" height="260"></canvas>
        </div>
      </div>
 {%endif%}
    {%if counta.value == 6%}
         <div class="col-md-3">
        <div class="h-80 p-1 text-bg-dark rounded-3">
        <center><p>Puntaje: {{suml}}/{{sumt}}</p></center>
            <canvas id="myChart2" width="500" height="310"></canvas>
        </div>
      </div>
 {%endif%}
   {%if counta.value == 7%}
         <div class="col-md-3">
        <div class="h-80 p-1 text-bg-dark rounded-3">
        <center><p>Puntaje: {{suml}}/{{sumt}}</p></center>
            <canvas id="myChart2" width="500" height="360"></canvas>
        </div>
      </div>
 {%endif%}
      {%if counta.value == 8%}
         <div class="col-md-3">
        <div class="h-80 p-1 text-bg-dark rounded-3">
        <center><p>Puntaje: {{suml}}/{{sumt}}</p></center>
            <canvas id="myChart2" width="500" height="410"></canvas>
        </div>
      </div>
 {%endif%}
</div>
</div>

  <script>
  const labels = [
    'Puntaje Obtenido',
    'Puntaje Faltante',
  ];

    const labels2 = [
    'Puntaje Obtenido',
    'Puntaje Faltante',
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Proceso:',
      backgroundColor: ['rgba(81, 6, 126, 0.8)', 'rgba(154, 32, 228, 1)'],
      borderColor: 'rgba(0, 0, 0, 1)',
      data: [{{suml}}, {{sumt - suml}}],
    }]
  };

    const data2 = {
    labels: labels,
    datasets: [{
      label: 'Proceso:',
      backgroundColor: ['rgba(81, 6, 126, 0.8)', 'rgba(154, 32, 228, 1)'],
      borderColor: 'rgba(0, 0, 0, 1)',
      data: [{{suml2}}, {{sumt2 - suml2}}],
    }]
  };

  const config = {
    type: 'doughnut',
    data: data,
    options: {
     responsive: false
    }
  };

    const config2 = {
    type: 'doughnut',
    data: data2,
    options: {
     responsive: false
    }
  };
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );

    const myChart2 = new Chart(
    document.getElementById('myChart2'),
    config2
  );
</script>
</div>
{% endblock %}
</body>

</html>