{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{data.0}}{% endblock %}</title>
</head>
<body>
{% block content %}

<div class="p-2 p-md-2 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
       <h1 class="display-9 fst-italic"> <i class="bi bi-book"></i> Trabajo: {{data.0}} - Fecha: {{data.2}}</h1>
      <p>Puntaje Total: {{data.1}}</p>
    </div>
  </div>
{% set count = namespace(value=0) %}
<div class="row">
  <div class="col-sm-6">
<table class="table table-hover table-striped table-bordered">
		<thead style="background-color: grey; color: white;">
			<th>Indicador</th>
            <th>Puntaje</th>
            <th>Puntaje Logrado</th>
		</thead>
		<tbody>
         {% for indicador in indicadores %}
          {% set count.value = count.value + 1 %}
         <tr>
      <td>{{count.value}}. {{indicador.1}}</td>
     <td>{{indicador.4}}</td>
     <td>{{indicador.3}}</td>
     </tr>
          {% endfor %}
    </tbody>
	</table>
    </div>
</div>
<a href="/vermateria/{{data.3}}" class="btn btn-secondary" role="button"> <i class="bi bi-arrow-left-square">Volver al menú</i></a>
{% endblock %}
</body>
</html>